:root {
    --radio-unselected-hover-border-color: rgb(69, 90, 100);
    --radio-selected-color: hsl(224, 100%, 58%);
  }

/* form-fields */
.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 16px !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: hsl(199, 18%, 33%) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: hsl(199, 18%, 33%) !important;
}

.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
  line-height: 23px !important;

}

.mdc-line-ripple {
  display: none !important;
}

/* .mdc-text-field {
  padding: 25px 12px 8px !important;
} */

.mdc-text-field--filled {
  border-top-left-radius:  16px !important;
  border-top-right-radius: 16px !important;
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}


/* radio  */

/* Unselected Radio - Hover State */
.mdc-radio input[type="radio"]:not(:checked):hover + .mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--radio-unselected-hover-border-color) !important;
  }
  
  /* Unselected and Selected Radio - Default State */
  .mdc-radio .mdc-radio__outer-circle {
    border-color: var(--radio-unselected-hover-border-color) !important;
  }
  
  .mdc-radio input[type="radio"]:checked + .mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--radio-selected-color) !important;
  }
  
  /* Selected Radio - Inner Circle Color (Using a CSS variable for the component) */
  .mdc-radio {
    --mdc-radio-selected-icon-color: var(--radio-selected-color) !important;
  }
  
  .mdc-radio input[type="radio"]:checked:hover + .mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--radio-selected-color) !important /* Replace 'yourHoverBorderColor' with the desired color */
}



/* buttons */

  .mat-mdc-unelevated-button.mat-primary {
    --mdc-filled-button-container-color:  var(--radio-selected-color) !important
}

.mdc-button {
    --mdc-shape-small: 20px !important; /* Adjust the value as needed */
  }



