.card-class {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  color: var(--gray-color);
}

#logo {
  max-width: 40px;
}

.sub-title {
  font-family: Nunito, sans-serif;
  font-size: 1.125rem;
  font-weight: 800;
  color: var(--gray-color);
}

.mat-mdc-card {
  box-shadow: none !important;
}

.gender {
  font-size: 1rem;
}

.custom-button span {
  font-size: 0.875rem;
  line-height: 1.75;
}

.settings-icon {
  height: 44px;
  width: 44px;
  fill: hsl(0, 0%, 46%);
  position: absolute; /* or 'fixed', depending on your needs */
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  padding: 10px; /* Gives some space from the corners */
}
