/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import './app/angular-material-overrides.css';

:root {
    --blue-color: hsl(224, 100%, 58%) !important;
    --blue-accent-color: hsl(224, 73%, 40%);
    --blue-text-color: hsl(224,100%, 58%);
    --gray-color:  rgb(69, 90, 100);


    --button-padding: 16px 24px;
    
}

html,
body {
    font-family: "Nunito", sans-serif !important;
    height: 100%;
    margin: 0;
}


/* logo */


#logo {
  max-width: 40px;
}

/* Custom button */

.custom-button {
    padding: var(--button-padding);
    background-color: var(--blue-color) ;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
    max-width: 400px;
    width: 107%;
    font-weight: 700;
  }

  .custom-button:hover {
    background-color:var(--blue-accent-color);
}

.custom-button span {
    font-size: 0.875rem;
    line-height: 1.75;
  }


  .custom-link-button {
    display: inline-block; /* Allows the application of padding and width */
    padding: var(--button-padding);
    background-color: transparent; 
    color:  var(--blue-text-color); 
    text-align: center;
    text-decoration: none; /* Removes underline from links */
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    max-width: 400px; /* Your requirement */
    width: 100%;
    font-weight: 700;
  }
  
  .custom-link-button:hover {
    background-color: rgba(41, 98, 255, 0.04); 
  }
